@charset "UTF-8";

* { /* Configuração global/ margin, padding*/
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

::-webkit-scrollbar { /* Bloquear/tirar o rolamento da página */
    width: 0px;
    height: 0px;
}

img { /* Configuração do tamanho da imagem */
    width: 100vw;
}

a { /* Configuração do Botão "Acesse aqui... " */
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

a:hover { /* Configuração da animação do botão "Acesse aqui..."*/
    color: black;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    transition-duration: .9s;
    background-color: red;
}
