@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

html, body {
    height: 100vh; /* Altura total do navegador */
    width: 100vw; /* Largura total do navegador */
    background-color: black;
 }

body { /* Tela de fundo */
    background: url('../imagens/neutro.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone { /* Imagem do celular */
    height: 627px;
    width: 309px;
    background:  url('../imagens/frame-iphone.png') no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela { /* Tela do fundo do celular */
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 472px;
}

section#redes-sociais img { /* Imagens dos Botões */
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    box-sizing: border-box;
    
}

section#redes-sociais img:hover { /* Animação dos botões */
    border: 2px solid rgba(255, 255, 255, 0.459);
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514);
    transition: transform .5s, border .7s;

}

section#redes-sociais { /* Localização dos botões */
    text-align: right;
}
